name: Build and Push Docker Images
on:
  push:
    branches:
      - master
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code 
        uses: actions/checkout@v3 
      - name: Login to Docker Hub 
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}} 
          password: ${{secrets.DOCKERHUB_PASSWORD}} 
      - name: Set up Docker Buildx 
        uses: docker/setup-buildx-action@v3 
      - name: Build and Push Docker Image 
        uses: docker/build-push-action@v5 
        with:
          context: . 
          file: ./Dockerfile 
          push: true 
          tags: muralisocial123/ust-retail-app:v1.1.0
